.card-livro-aberto {
  width: 50%;
  margin: 3% auto;
  padding: 2.5%;
  display: flex;
  flex-direction: column;

  mat-card-header {
    text-align: center;
    align-self: center;
  }

  mat-card-title {
    font-size: 1.3rem;
  }

  img {
    align-self: center;
    box-shadow: 0 0 6px #7c7c7c;
    border-radius: 4px;
    width: 300px;
    height: 400px;
  }

  strong {
    font-weight: 500;
  }

  p {
    font-weight: 300;
  }

  button {
    width: 90%;
    margin: 2% auto;
    font-weight: 600;
  }

  .comentario {
    box-sizing: border-box;
    margin: 2% 0;
    padding: 5% 2%;
    background-color: #f0f0f0;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #c5c5c5;

    p {
      line-height: 0.5rem;
    }
  }

  .form-comentario {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .input-comentario {
      width: 100%;
    }

    button {
      width: 25%;
    }
  }
}

@media screen and (max-width: 500px) {
  .card-livro-aberto {
    width: 90%;
    margin: 3% auto;
    padding: 2.5%;
  }
}
